apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-backend
  namespace: blog-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-backend
  template:
    metadata:
      labels:
        app: blog-backend
    spec:
      containers:
        - name: backend
          image: kushalpichika/blog-backend:latest
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URI
              valueFrom:
                secretKeyRef:
                  name: mongo-atlas-cred
                  key: MONGO_URI
