apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-frontend
  namespace: blog-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-frontend
  template:
    metadata:
      labels:
        app: blog-frontend
    spec:
      containers:
        - name: frontend
          image: kushalpichika/blog-frontend:latest
          ports:
            - containerPort: 80
