name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Disable Git auto GC
        run: git config --global gc.auto 0

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: false
